<!-- HEADER  -->
<%- include('./partial/header.ejs')%>

<div class="container-fluid bg-light min-height">
  <div class="row">
    <!-- menu  -->

    <!-- table  -->
    <div class="col-12 col-md-12 py-5">
      <div class="">
        <h2
          class="title-text bg-dark text-light text-center py-2 capitalized-text"
        >
          book information
        </h2>
      </div>
      <div class="table-container table-responsive">
        <table class="table table-light">
          <thead>
            <tr>
              <th scope="col">No.</th>
              <th scope="col">Id</th>
              <th scope="col">Book Name</th>
              <th scope="col">Author</th>
              <th scope="col">Editor</th>
              <th scope="col">Publisher</th>
              <th scope="col">Edition</th>
              <th scope="col">Category</th>
              <th scope="col">Publication Year</th>
              <th scope="col">Condition</th>
              <th scope="col">Stock</th>
              <th scope="col">Status</th>
              <th scope="col">Notes</th>
              <th scope="col">Inserted Date</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% let i =1 %> <% data.forEach((item) =>{ %>
            <tr>
              <th scope="row"><%= i++ %></th>
              <td><%= item._id %></td>
              <td class="capitalized-text"><%= item.bookName %></td>
              <td class="capitalized-text"><%= item.authorName %></td>
              <td class="capitalized-text"><%= item.editorName %></td>
              <td class="capitalized-text"><%= item.publisherName %></td>
              <td><%= item.edition %></td>
              <td class="capitalized-text"><%= item.category %></td>
              <td><%= item.publish %></td>
              <td class="capitalized-text"><%= item.condition %></td>
              <td class="capitalized-text">
                <%= item.quantity < 0 ? 'Not Available' : item.quantity %>
              </td>
              <td class="capitalized-text">
                <%= item.status ? item.status : 'N/A' %>
              </td>
              <td class="capitalized-text">
                <%= item.notes ? item.notes :'N/A' %>
              </td>
              <td><%= item.insertedDate.toISOString().split('T')[0];%></td>
              <td>
                <div class="button-group">
                  <form
                    action="/editbook/<%= item._id %>"
                    method="get"
                    class="d-inline"
                  >
                    <button type="submit" class="btn">
                      <i class="fa-solid fa-pen-to-square text-info"></i>
                    </button>
                  </form>

                  <form
                    action="/deletebook/<%= item._id %>"
                    method="post"
                    class="d-inline"
                  >
                    <button type="submit" class="btn">
                      <i class="fa-solid fa-trash text-danger"></i>
                    </button>
                  </form>
                </div>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
<%- include('./partial/footer.ejs')%>
